[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agno = "*"
openai = "*"
fastapi = {extras = ["standard"], version = "*"}
python-dotenv = "*"
todoist-api-python = "*"
uvicorn = "*"
letta-client = "*"

[dev-packages]

[requires]
python_version = "3.12"
