[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agno = "*"
dnspython = "*"
python-whois = "*"
openai = "*"
requests = "*"
bs4 = "*"
mistralai = "*"
streamlit = "*"
googlesearch-python = "*"
pycountry = "*"
exa-py = "*"

[dev-packages]

[requires]
python_version = "3.12"
